### This

In [14]:
import pandas as pd
import os
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import mutual_info_regression

In [15]:
encoded_file = '../processed_data/training.pkl'

### Reading training data

In [16]:
#Reading training file

data = pd.read_pickle(encoded_file)
data.head()

,GID,1A_1145442,1A_1158042,1A_1158055,1A_1230946,1A_1232964,1A_1236254,1A_1238074,1A_1238114,1A_1588248,...,UN_473655057,UN_473655073,UN_474138840,UN_474138845,UN_474138866,UN_474767314,UN_475092207,UN_475092295,UN_476929267,UN_476929292
0,GID6680533,-1,-1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,GID6681889,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
4,GID7401114,0,-1,1,1,1,1,1,1,1,...,1,1,0,0,1,-1,1,1,1,1
6,GID6415858,1,1,1,1,1,1,1,1,1,...,1,1,0,0,1,1,1,1,1,1
7,GID7629157,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [17]:
data.shape

(2199, 40768)

### Mapping GID with CID and SID to integrate env

In [18]:
# reading all gid and cid

base_dir = '../gid_cid_map/'
all_gid_cid = pd.DataFrame()
with os.scandir(base_dir) as prime_dir:
    for entry in prime_dir:
        x = pd.read_csv(entry)
        all_gid_cid = all_gid_cid.append(x, ignore_index = True)
all_gid_cid['GID'] = 'GID' + all_gid_cid['GID'].astype('str')

In [19]:
all_gid_cid.head()

      CID  SID         GID
0   61665    1   GID304660
1  525424   84  GID6341870
2  557028   13  GID6933502
3  568630   33  GID7400769
4  583298   79  GID8048669

In [20]:
#mergin gid, cid and sid with genotype data

data_combined = all_gid_cid.merge(data, how='inner', on='GID')

In [21]:
data_combined.drop_duplicates(inplace=True)

In [22]:
data_combined.head()

,CID,SID,GID,1A_1145442,1A_1158042,1A_1158055,1A_1230946,1A_1232964,1A_1236254,1A_1238074,...,UN_473655057,UN_473655073,UN_474138840,UN_474138845,UN_474138866,UN_474767314,UN_475092207,UN_475092295,UN_476929267,UN_476929292
0,61665,1,GID304660,1,1,1,1,1,1,1,...,1,1,0,1,1,0,1,1,1,1
255,525424,84,GID6341870,1,1,1,1,1,1,1,...,1,1,1,1,1,1,0,0,1,1
263,583298,79,GID8048669,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
266,584975,34,GID8049754,1,1,1,1,1,1,1,...,1,1,1,1,1,-1,0,0,1,1
268,585095,93,GID8050267,1,1,1,1,1,1,1,...,1,1,1,1,1,-1,-1,-1,1,1

In [23]:
data_combined.shape

(2199, 40770)

### Reading yield data for all locations

In [24]:


base_dir = '../wheat_all/done/'
yield_data = pd.DataFrame()
with os.scandir(base_dir) as prime_dir:
    for entry in prime_dir:
        trial_name = entry.name
        yield_file = base_dir + trial_name + '/GrnYld.xls'
        x = pd.read_csv(yield_file, delimiter='\t')
        x['trial'] = trial_name[2:]
        yield_data = yield_data.append(x, ignore_index = True)

In [25]:
yield_data.shape

(229357, 26)

In [26]:
def is_float(x):
    try:
        float(x)
    except ValueError:
        return False
    return True

In [27]:
yield_data = yield_data[yield_data.Value.apply(lambda x: is_float(x))]

In [28]:
yield_data.shape

(204742, 26)

In [29]:
yield_data.head()

,Trial name,Occ,Loc_no,Country,Loc_desc,Cycle,Cid,Sid,Gen_name,Trait_no,...,GID,Plot,Entry,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,17TH HIGH RAINFALL WHEAT YT,1,51009,ARGENTINA,PARANA,2009,61665,1,LOCAL CHECK,144,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17TH HIGH RAINFALL WHEAT YT,1,51009,ARGENTINA,PARANA,2009,7414,205,PROINTA FEDERAL,144,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17TH HIGH RAINFALL WHEAT YT,1,51009,ARGENTINA,PARANA,2009,88241,1,KLEIN CACIQUE,144,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17TH HIGH RAINFALL WHEAT YT,1,51009,ARGENTINA,PARANA,2009,444913,1,FUNDACEP 30,144,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17TH HIGH RAINFALL WHEAT YT,1,51009,ARGENTINA,PARANA,2009,7896,410,HUAYUN INIA,144,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
yield_data['trial']

0         HRWYT
1         HRWYT
2         HRWYT
3         HRWYT
4         HRWYT
          ...
229252    IBWSN
229253    IBWSN
229254    IBWSN
229255    IBWSN
229256    IBWSN
Name: trial, Length: 204742, dtype: object

In [31]:
yield_data.shape

(204742, 26)

In [32]:
yield_data.columns

Index(['Trial name', 'Occ', 'Loc_no', 'Country', 'Loc_desc', 'Cycle', 'Cid',
       'Sid', 'Gen_name', 'Trait_no', 'Trait name', 'Value', 'EMS', 'SE',
       'Unit', 'trial', 'GID', 'Plot', 'Entry', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [33]:
yield_data['Cycle']

0         2009
1         2009
2         2009
3         2009
4         2009
          ...
229252    2015
229253    2015
229254    2015
229255    2015
229256    2015
Name: Cycle, Length: 204742, dtype: int64

In [34]:
def calc_average(x):
    x = np.array(x, dtype=float)
    avg = np.average(x)
    
    return avg

### Rearranging yield data by trial, cid, sid, location and cycle

In [35]:


yield_data_groupby = yield_data.groupby(['Cid', 'Sid', 'Loc_no', 'trial', 'Cycle']).agg({
    'Value': lambda x: calc_average(x)
})

In [36]:
yield_data_groupby.reset_index(inplace=True)

In [37]:
yield_data_groupby.head()

    Cid  Sid  Loc_no  trial  Cycle  Value
0  1382    1   10002  IBWSN   2004  3.200
1  1382    1   10026  IBWSN   2003  7.410
2  1382    1   10029  IBWSN   2004  4.773
3  1382    1   10032  IBWSN   2004  2.529
4  1382    1   11011  IBWSN   2005  1.864

In [38]:
yield_data_groupby.shape

(191804, 6)

### Mapping GID, CID and SID with environment specific yield by location and cycle

In [39]:
locations = yield_data_groupby['Loc_no'].unique()
cycles = yield_data_groupby['Cycle'].unique()

In [40]:
print(len(locations))
print(len(cycles))

390
17

In [41]:
yield_by_env = pd.DataFrame()

gid_cid = data_combined.loc[:, ['GID', 'CID', 'SID']]
print(gid_cid.shape)

(2199, 3)

In [42]:
for index, row in gid_cid.iterrows():
    d = {}
    d['GID'] = str(row['GID'])
    d['CID'] = str(row['CID'])
    d['SID'] = str(row['SID'])
  
    specific_loc_yield = yield_data_groupby[
        np.logical_and(yield_data_groupby['Cid'] == row['CID'],
                       yield_data_groupby['Sid'] == row['SID'])]
    for ind, y_row in specific_loc_yield.iterrows():
        d[ y_row['trial'] + '_' + str(y_row['Loc_no']) + '_' + str(y_row['Cycle'])] = y_row['Value']
    yield_by_env = yield_by_env.append(d, ignore_index=True)

In [43]:
yield_by_env.head()

,CID,ESWYT_10002_2015,ESWYT_10009_2012,ESWYT_10026_2008,ESWYT_10026_2009,ESWYT_10026_2010,ESWYT_10026_2013,ESWYT_10026_2014,ESWYT_10026_2015,ESWYT_10401_2014,...,IBWSN_22607_2003,IBWSN_19303_2003,IBWSN_50201_2003,IBWSN_65301_2012,IBWSN_65301_2005,IBWSN_65307_2015,HRWYT_51501_2016,HRWYT_21220_2017,HRWYT_42221_2017,IBWSN_65307_2016
0,61665,3.568,12.579,4.561,5.833,5.1,6.581,5.393,5.145,3.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,525424,NaN,NaN,NaN,NaN,NaN,6.348,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,583298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,584975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,585095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
yield_by_env['avg'] = yield_by_env.drop(['CID', 'SID', 'GID'], axis = 1).mean(axis=1)

In [45]:
yield_by_env['avg']

0       5.010275
1       5.000011
2       5.020649
3       4.687880
4       4.565360
          ...
2194    4.909309
2195    5.644088
2196    5.509803
2197    5.362700
2198    5.718943
Name: avg, Length: 2199, dtype: float64

In [46]:
weather_df = pd.read_csv('../processed_data/env_cluster.csv')
weather_df.head()

In [47]:
weather_df = weather_df['location', 'cluster']

,location,0,1,2,3,4,5,6,7,8,...,16,17,18,19,20,21,22,23,24,cluster
0,10001,17,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,4,0,0,0,0,9
2,10004,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
3,10006,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
4,10007,0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11

In [ ]:
yield_by_env = yield_by_env.merge(weather_df, how='inner', left_on=)

In [266]:
yield_by_env.shape

(2199, 1835)

### Finding features on average phenotype (Global Features)

In [267]:
data_combined['GID'] = data_combined['GID'].astype('str')
data_combined['CID'] = data_combined['CID'].astype('str')
data_combined['SID'] = data_combined['SID'].astype('str')

In [268]:
gid_cid = yield_by_env[['GID', 'CID', 'SID']]
data_combined = gid_cid.merge(data_combined, how='inner', on=['GID', 'CID', 'SID'])

In [269]:
data_combined.shape

(2199, 40770)

In [270]:
yield_by_env.shape

(2199, 1835)

In [271]:
mi_global = mutual_info_regression(data_combined.drop(['GID', 'CID', 'SID'], axis=1), yield_by_env['avg'])

In [272]:
# entry_greater_than_50 = 0
# for loc in locations:
#     specific_loc_yield = yield_data_groupby[yield_data_groupby['Loc_no'] == loc]
#     loc_specific_data = specific_loc_yield.merge(data_combined, how='inner', left_on=['Cid', 'Sid'], right_on=['CID', 'SID'])
#     loc_specific_data = loc_specific_data.drop(['Cid', 'Sid'], axis=1)
#     if loc_specific_data.shape[0] >= 50:
#         entry_greater_than_50 += 1
#         train_data, test_data = train_test_split(loc_specific_data, random_state=100, test_size=0.15)
        
#         train_data.to_pickle('../wheat_all/train/' + str(loc) + '.pkl')
#         test_data.to_pickle('../wheat_all/test/' + str(loc) + '.pkl')
        
    
# print('Locations with more than 50 genotypes: ', entry_greater_than_50)

In [273]:
# loc_specific_data.head()

In [274]:
selected_global_feat = mi_global > 0.01

In [275]:
print(sum(selected_global_feat))

4869

In [276]:
selected_global_feat = data_combined.drop(['GID', 'CID', 'SID'], axis=1).columns[selected_global_feat]

In [277]:
len(selected_global_feat)

4869

In [278]:
geno_without_global = data_combined.drop(selected_global_feat, axis=1)

In [279]:
geno_without_global.shape

(2199, 35901)

In [280]:
locations = yield_by_env.drop(['GID', 'CID', 'SID'], axis=1).columns

In [281]:
mi_by_loc = []

In [282]:
for location in locations:
    phenos = yield_by_env[location]
    not_null_ind = phenos.notnull()
    phenos = phenos[not_null_ind]
    loc_spec_geno =  geno_without_global.loc[not_null_ind]
    
    if loc_spec_geno.shape[0] >= 30:
        
        mi_local = mutual_info_regression(loc_spec_geno.drop(['GID', 'CID', 'SID'], axis=1), phenos)
        mi_by_loc.append(mi_local)
   
    print(sum(mi_local > 0.05))

2466
2721
5373
3948
3986
3152
2514
2818
3164
2585
3469
2831
3493
2303
2599
2870
2880
3043
1958
4084
2925
3046
3934
3472
2371
3499
3548
2777
2322
3004
3407
3944
2748
2639
4811
3066
2998
3562
3868
3491
2359
3367
2588
2673
2404
3032
2882
2079
3336
2170
3527
3276
2759
4322
3008
3451
3054
2538
2949
3308
2336
2911
3147
1989
2563
4311
3099
2881
3212
2320
2405
3483
2381
3301
2789
3027
2103
3101
3105
3198
3290
1914
4384
2252
3214
3732
2335
4355
2640
2357
3334
3031
3564
1756
2088
2863
3627
3005
2403
2327
2086
2363
2371
2761
2736
3549
3545
3919
2401
2637
2548
3265
3550
2164
2898
3330
3153
3171
2507
3737
2629
3553
2388
4418
2971
2974
4288
2808
2077
2464
3363
3530
2852
2579
2663
1953
2857
2318
3329
2420
2289
2969
2976
3241
3498
3278
1883
3043
2739
2680
3233
3742
2225
2465
4392
2839
3774
2594
1457
2412
3410
3950
2833
2631
3945
2836
3275
4041
2487
2455
2063
4195
2794
5294
2453
4500
3281
2710
3651
2723
4376
3039
2413
1475
4114
2850
2284
2692
3334
2405
2744
3351
3090
2894
2185
1963
2984
2618
2922
2918
2774
3115
2922
3366
3230
3701
2523
2664
3493
3293
3864
3628
2943
3803
3225
2206
2422
4413
2730
2683
3642
3122
2590
3851
3738
3270
3708
2899
3092
2677
2294
2553
2616
2767
3048
2568
1962
3846
2544
2358
3491
2751
3190
2906
4420
2513
2291
3100
2808
1769
2791
3401
2588
3164
2812
2417
2832
2782
3296
2576
2412
4598
3675
3167
3487
3131
2079
2023
3594
4813
3037
3520
2535
2811
2429
2921
4362
2402
3172
2962
2715
2451
3249
3255
2239
3885
3534
1783
3024
5732
4188
3119
4330
3025
3216
3135
2438
2882
2916
2969
2913
3662
2960
4009
3037
3062
3796
2204
3310
3130
3055
2890
2118
3298
2386
3435
2956
2719
2964
3782
2982
2860
2808
2199
3138
4432
2963
3442
3978
3761
2407
2950
2336
1987
2691
3258
2342
3440
3941
2768
3212
2387
2684
2423
2620
2970
2471
2637
1922
2782
2681
2594
4246
2042
2961
2246
2350
3170
2731
2747
4110
3273
2593
2663
3221
2771
2267
3253
2561
2779
3093
2992
2611
2468
3478
2825
3520
3401
2807
2006
2894
2684
2479
2647
2361
3635
3185
2220
2524
3563
2317
3267
4626
3633
4023
3214
2330
2344
2543
3101
4513
3954
3212
2291
3044
1913
2893
2646
2713
3295
3568
3942
3019
2136
3965
2366
3785
2407
3220
2542
3054
3339
3650
2688
3028
3062
4762
3080
3102
2816
4091
2319
2991
2484
2329
3725
2292
2268
2427
3336
2286
2230
2447
2255
2508
2508
2911
2771
2761
2336
2412
3949
3949
3949
3949
2168
2390
2995
4578
3195
2951
2602
4323
3398
2339
2862
3100
2260
4057
2548
3612
3707
4799
3046
2921
3618
2820
5570
3634
4693
2227
2358
2794
3499
3030
2222
3099
2003
3640
2808
3170
2500
2541
4601
4035
2808
3401
2074
2298
2503
2320
2738
2464
2787
4077
2440
2860
3716
4028
3115
2446
3698
3287
3396
4347
3645
2003
3235
2404
2417
2939
3280
4283
2234
2750
3570
2517
3022
3527
3527
2895
2868
3041
3897
2420
3469
2246
3130
4349
3851
3830
2794
2518
2513
2257
3019
2550
2550
2550
3838
3066
3205
2254
2971
3285
2945
3947
2446
3145
2358
3289
1916
2508
3166
3483
3758
3603
3603
2884
2954
2779
2790
2790
2790
2790
2790
2790
2790
2790
2790
2790
2790
2790
2790
2790
2790
2790
4574
4574
4574
5561
5561
5561
5561
3973
3973
3973
3973
6200
6200
6200
2694
2694
2694
2484
2484
4019
1904
2249
2559
4532
4532
4532
4532
4532
4532
4532
4532
2751
2847
2847
2315
2315
2315
3432
3432
3432
2616
1961
1961
1961
1961
2498
2269
3014
3014
3014
2921
2921
3819
2594
2594
2594
2917
2727
2727
2727
2727
2727
2727
2727
2727
2727
2727
2727
2727
2727
2727
2727
2727
2727
2727
2727
2727
2727
2727
2727
2727
2727
2727
2727
5108
4381
4381
4381
4381
4381
4381
3264
3264
3264
3264
3379
3379
2966
2966
2966
2966
2966
4609
2266
2266
2266
2266
2266
2150
2041
2041
2041
2041
2041
2041
2520
2769
1757
1757
1757
1757
1757
1757
1757
1757
1757
1757
1757
1757
1757
2780
2780
2780
2780
2780
2780
2780
2411
2411
2552
2552
2675
2675
2675
2667
2667
2543
2543
2947
2947
2947
2947
2947
1764
2817
2817
2817
2297
2622
2622
2622
2622
2622
2622
2622
2622
2622
2622
2622
2622
2622
3775
3775
3775
3775
3542
3542
2866
2866
2866
2866
2866
2534
2408
2408
2178
2946
3099
3099
2950
2630
2630
2630
2630
2630
3667
2424
2212
2212
2212
2212
2212
2212
2794
2794
2794
2794
3073
2863
2863
2863
2863
2863
2863
2863
2863
2863
2612
3306
3306
3306
3617
3617
3617
3617
3277
2403
2403
2403
2403
2403
2403
2664
2664
2664
2664
2664
2664
2664
2664
2664
2664
2664
2664
2504
2504
2504
2504
4492
3957
4454
4454
3677
5227
2793
3062
3062
3062
3682
2508
2424
2424
2424
2424
4110
3869
3685
4823
2435
2170
2170
2170
6225
6225
6225
6225
3361
1986
2221
1721
1721
1721
1721
1721
1721
1721
1721
1721
2480
2480
2480
2480
2480
3155
3155
3155
3155
3155
3155
3155
3155
3155
3155
3155
3155
3155
3155
3752
3752
3752
3752
3752
3752
3752
3752
3391
3391
3391
3391
3926
3281
2818
2818
2818
2818
2818
2818
3277
3277
3277
3277
3277
3277
3277
3277
3277
4433
4433
4433
4433
4433
4433
3473
3473
2829
2829
2798
2798
2798
3156
3156
3156
3156
2283
2283
2283
2283
2283
2283
2283
2283
2283
2283
2283
2283
2205
2205
2205
2944
2944
2944
2944
2944
2944
2944
2787
2787
2787
2787
3247
3247
4075
2744
2744
2744
2744
4768
2495
3608
3608
3608
3608
3608
3608
3608
3608
3608
3324
3324
3324
2346
2346
5075
2593
2593
1436
1105
762
714
1715
804
2585
2585
2585
3220
2287
3165
3165
3349
2584
2584
2584
2584
919
7199
7199
3604
2567
926
705
3757
557
605
888
888
2331
3166
4032
4032
4032
4032
4032
3084
1076
1526
2193
2625
2850
4377
4377
3162
960
3062
2617
2474
2474
2474
2474
4059
997
1575
892
1103
1729
2708
3733
1580
1580
1580
726
1232
1072
1891
1891
3181
3831
3831
3831
2543
3844
823
1129
707
804
6015
1024
1046
2858
1834
1648
1648
1648
2160
785
764
827
1268
615
615
2675
1492
563
1099
845
1084
3383
3383
3294
3294
3294
3294
2791
2448
857
790
3301
3301
3301
3301
3301
3301
3301
3301
2082
779
491
1256
1244
2384
2384
3508
572
3693
3103
3103
3103
3103
3103
3103
3103
2279
3119
577
911
715
3604
3604
3604
3604
3613
1663
786
959
1375
1394
1507
1507
1507
1507
2865
942
3286
3286
3286
3286
1909
740
1119
877
942
2697
2697
2697
2697
2474
2238
2249
928
795
742
2187
3117
3117
3117
3117
3557
1000
1302
893
1156
1156
1081
1066
2550
678
617
1160
436
4654
4654
4654
3751
447
520
520
520
389
389
389
389
2892
757
936
965
1404
899
478
563
1079
1311
1981
1980
1309
1365
839
2767
2767
2767
2767
2767
2767
2767
2767
2767
2767
2767
2767
3009
2624
2624
2624
2624
3198
3198
3619
3619
3619
3619
2455
395
1706
560
707
805
1045
481
1218
4442
5275
5275
5275
5275
2770
2405
3856
1492
2118
3294
3294
3294
3294
818
3295
5683
4541
4541
4541
4541
4541
2016
1058
1167
1297
785
853
1055
1631
1631
1631
1631
5491
5571
5571
5571
5571
6015
3709
2019
2666
2666
519
519
910
621
4165
2428
687
2168
2168
1071
3698
2364
2364
2364
2364
3293
3359
1632
7336
3188
3188
3188
3188
3917
3917
6591
7056
7056
3179
2225
4002
3169
4153
4153
4153
4153
4153
4153
5246
5246
2795
7074
3321
2838
2605
2605
2605
2809
994
994
1731
3201
2580
2580
2580
2580
2550
2550
2550
2550
2550
5506
2372
3196
1000
1000
3533
1170
830
6329
1984
692
861
1231
1248
701
983
1573
825
855
1634
4953
4953
4953
4953
4953
4953
1784
3052
4335
4163
4163
3826
3826
4131
516
1782
2094
2940
1569
3830
3830
3830
3830
3888
1683
5921
4101
708
708
708
708
7561
968
1680
892
892
892
892
892
892
3672
6158
2563
2563
2563
3456
3867
3220
3220
3220
3220
2832
2979
924
1281
609
1449
1224
676
2990
2617
3629
3629
3629
3629
3629
2222
696
739
941
1278
2815
1747
1747
1747
3836
5020
7080
7080
7080
7080
6599
6998
2079
2340
2267
1101
3299
3299
3299
3796
2980
609
653
567
567
567
5316
5316
3812
1638
1213
699
2875
990
1066
4566
1117
2774
2774
973
820
2504
2504
2504
1067
3680
3680
2891
2891
2891
2891
1037
2575
3324
3324
998
1309
1309
1309
510
869
2047
2047
1291
1403
2465
715
509
509
4070
4402
3660
3660
3660
3660
3660
1981
3904
3904
3904
928
2162
3814
3731
3731
3731
3731
3400
3945
1534
1046
1291
1896
953
1045
1731
3151
1077
1077
1077
1077
2419
740
740
740
740
1953
2633
564
2597
2271
2134
2462
2462
1776
1776
1776
3206
3206
3206
2233
2522
2522
1174
3860
3860
2746
2746
2746
2816
2816
2841
2565
2966
2409
2490
2490
2490
2490
2490
3062
3062
2438
2438
2438
3643
3643
3643
3643
3261
3261
3261
3261
3004
3004
3004
3004
2612
2612
2612
2612
2612
4010
4010
4010
3434
3434
3434
3434
3434
3444
3444
3444
3444
2813
2813
2757
2757
2889
2889
2855
2577
2577
2577
2577
2577
3375
3400
3400
3400
3400
3400
3400
3400
3400
3400
3908
3908
2158
2158
2158
2158
2158
2158
3098
3098
3098
3098
3098
3098
3098
3310
3310
3310
3310
2451
2451
2451
2451
2451
2451
2451
2991
2991
2708
2708
2708
2708
2708
2708
2708
2708
2708
2708
3884
3884
3884
3884
2697
2697
2697
2697
2697
2697
2697
2697
2697
3009
3009
3009
3009
3009
4502
4502
4502
4502
2715
2715
2715
2715
3220
3220
3220
3220
3220
3220
3593
2610
2610
2610
2610
2610
2610
3934
3934
3934
2422
2422
2422
4070
4070
4070
4070
4070
4070
4534
4534
4534
2638
2414
2414
2414
2414
3394
3394
3394
3575
3685
2472
2472
3152
3152
3152
3152
2886
2886
4634
4634
4634
4634
4634
4634
2103
2103
2793
2344
3608
3608
3608
3608
3608
3608
3608
3608
3608
3608
3608
3608
3234
3435
3435
3435
3435
2021
2021
2021
2021
2021
2021
4348
4348
4348
4348
3558
2370
3445
2136
2317
3547
2848
3094
1394
2909
3078
3384
4686
3284
3450
4568
4922
4482
3050
3446
3262
2187
2187
2187
2187
2187
1769
6727
6727
6727
6727
6727
6727
6727
6727
6727
6727
6727
6727
6727
6727
6727
6727
6727
6727
6727
6727
6727
6727
0

In [283]:
all_local_markers = []
markers = geno_without_global.drop(['GID', 'CID', 'SID'], axis=1).columns.tolist()
markers = np.array(markers, dtype= str)
for local_mi in mi_by_loc:
#     markers = geno_without_global.drop(['GID', 'CID', 'SID'], axis=1).columns.tolist()
#     markers = np.array(markers, )
#     print(local_mi > 0.05)
    local_mi = np.array(local_mi)
    sorted_ind = np.argsort(local_mi)[::-1]
    selected_markers = markers[sorted_ind[0:200]]
    
    all_local_markers += selected_markers.tolist()
#     print(len(all_local_markers))
all_local_markers = set(all_local_markers)
# print(all_local_markers)

In [284]:
unique_local_markers = list(set(all_local_markers))
print(len(unique_local_markers))

24278